html{
    text-align: center;
    font-family: Roboto;
    background-color: #2980b9;
    color: white;
}

#main{
  background-color: lightblue;
  margin: 4px;
}

#airportTitle{
    font-weight: bold;
    position: relative;
    padding: 4px;
}

#airportInfo{
    padding: 4px;
}
#demo{
    font-size: 14px;
}

.siteTitle{

}

#stationID{
    text-transform: uppercase;
}
