html{
    text-align: center;
    background-color: #0275d8;
    color: white;
}

.metInput{
  padding: 0.5rem;
  box-sizing: border-box;
}

#airportTitle{
    font-weight: bold;
    position: relative;
    padding: 4px;
}

#airportInfo{
    padding: 4px;
}

#stationID, #getMETAR, #getMETARLoc{
  display: inline;
}

#stationID{
  width: 80px;
}

.box{
  background-color: #0275d8;
}




.row [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row{
  overflow: hidden;
}

.metResults{
  color: white;
  background-color: #2ecc71;
}

.metMVFR {
  background-color: #0D47A1;
}

.metIFR {
  background-color: #c62828;
}

.metLIFR {
  background-color: #D500F9;
}

.metBody{
    color: white;
}

#stationID{
    text-transform: uppercase;
}
